.App {
  text-align: center;
}

.VendingMachine-top-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  background-color: #1c1d1f;
}

nav > * {
  color: rgba(255, 255, 255, 0.473);
  text-decoration: none;
}

.Active-page {
  color: white;
  transition: ease-in 0.5s;
}
